.moviedetails{
    margin-left: 50px;

    h1{
        margin-top: 20px;
        font-size: 25px;
    }

    h2{
        font-size: 20px;
        font-weight: bold;
    }

    #poster{
        width: 500px }
    #comments-section {
        width: 500px;
      }
}
